<table>
    <tr>
        <th><%= pole.label(:nazwa) %></th>
        <td><%= pole.text_field(:nazwa) %></td>
    </tr>
    <tr>
        <th><%= pole.label(:pozycja) %></th>
        <td><%= pole.select(:pozycja, 1..@licznik) %></td>
    </tr>
    <tr>
        <th><%= pole.label(:widoczna, "Czy jest widoczna?") %></th>
        <td><%= pole.check_box(:widoczna) %></td>
    </tr>
    <tr>
        <th><%= pole.label(:created_at, "Utworzona") %></th>
        <td><%= pole.datetime_select(:created_at) %></td>
    </tr>
</table>