<h1>Nowa Kategoria</h1>

<%= link_to("Powrót", {:action => 'index'})%>

<%= form_for(:kategoria, :url => {:action => 'utworz'}) do |pole| %>

<table>
    <tr>
        <th><%= pole.label(:nazwa) %></th>
        <td><%= pole.text_field(:nazwa) %></td>
    </tr>
    <tr>
        <th><%= pole.label(:pozycja) %></th>
        <td><%= pole.select(:pozycja, 1..@licznik) %></td>
    </tr>
    <tr>
        <th><%= pole.label(:widoczna, "Czy jest widoczna?") %></th>
        <td><%= pole.check_box(:widoczna) %></td>
    </tr>
</table>

<div>
<%= submit_tag("Utwórz") %>
</div>
<% end %>