<% @tytul_strony = "Strona Główna" %>

<!-- Góra strony poczatek  -->
<div class="header-image">
  <div class="headline">
    <div class="container">
      <h2>Inni dopiero się uczą</h2>
      <h1>Ty już potrafisz</h1>
    </div>
  </div>
</div>
<!-- Góra strony koniec -->

<div class="container marketing">
  <!-- Trzy kolumny zdjęcia + opis + linki początek -->
  	<div class="row">
  	  <% @artykuly.each do |artykul|%>
  	    <div class="col-lg-4">
  	      <%= image_tag(artykul.zdjecie.url(:thumb), :class => "img-circle") %>
  	      <h2><%= artykul.nazwa %></h2>
  	      <p><%= truncate(artykul.zawartosc, :length => 200, :omission =>"[...]") %></p>
  	      <p><%= link_to("Zobacz artykuł >>", {:action => "nowosci", :artykul_id => artykul.id}, :class => "btn btn-default") %></p>
  	    </div>
  	  <% end %>
  	</div>
  <!-- Trzy kolumny zdjęcia + opis + linki koniec -->
  <!-- Galerie poczatek -->
  <% lp=1 %>
  	<% @galerie.each do |galeria| %>
  	  <hr class="featurette-divider">
  	   <% if lp % 2 == 0 %>
		    <div class="row featurette">
		      <div class="col-md-7">
		       <h2 class="featurette-heading"><%= galeria.nazwa %></h2>
		       <p class="lead"><%= truncate(galeria.opis, :length => 300, :omission =>"[...]") %></p>
		       <p><%= link_to("Zobacz galerię >>", {:action => "galerie", :galeria_id => galeria.id}, :class => "btn btn-default") %></p>  	       
		      </div>
		      <div class="col-md-5">
		        <%= image_tag(galeria.zdjecie.url, :class => "featurette-image img-responsive") %>
		      </div>
		    </div>
  	    <% else %>
    		<div class="row featurette">
		      <div class="col-md-5">
		        <%= image_tag(galeria.zdjecie.url, :class => "featurette-image img-responsive") %>
		      </div>
		      <div class="col-md-7">
		       <h2 class="featurette-heading"><%= galeria.nazwa %></h2>
		       <p class="lead"><%= truncate(galeria.opis, :length => 300, :omission =>"[...]") %></p>
		       <p><%= link_to("Zobacz galerię >>", {:action => "galerie", :galeria_id => galeria.id}, :class => "btn btn-default") %></p>  	       
		      </div>
		    </div>
  	    <% end %>
  	    <% lp+=1 %>
  	<% end %>
  	  <hr class="featurette-divider">
  <!-- Galerie koniec -->
</div>